* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #1fb7ea;
}

#score-area {
    display: grid;
    grid-template-columns: repeat(2, 25vw);
    grid-template-rows: repeat(2, 25vh);
    grid-gap: 3px;
}

div {
    border: solid black 2px;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*PLAYER SELECTION BUTTONS*/

#player-selection {
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

.button {
    font-size: 15vw;
    width: 20vw;
    height: 20vw;
    border: solid black 2px;
    border-radius: 8px;
    outline: none;
}

.button:hover {
    cursor: pointer;
}