* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #78F5E6;
}

#score {
    display: flex;
}

div {
    border: solid black 2px;
}

#player-selection {
    display: flex;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}